@keyframes blur {
    0% {
      filter: blur(2px);
    }
    100% {
      filter: blur(0);
    }
  }
  
  .image-animation {
    animation: blur .1s ease-in-out;
  }
  .loading {
   font-family: monospace;
   font-size: 20px;
  }
  
  